.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
}

.navbar-inverse {
    background-color: #512DA8;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.card-body {
    padding: 30px;
}

.form-check-label {
    padding-left: 1rem;
    margin-bottom: 0;
    cursor: pointer;
    padding-right: 19px;
}

.form-check-inline .form-check-label {
    vertical-align: baseline;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.navbar-dark {
    background-color: 1px solid #512DAB;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.btn-secondary {
    color: #292b2c;
    background-color: #827a7a;
    border-color: #ccc;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}